* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  line-height: 1.3;
  font-family: "Lexend Deca", sans-serif;
  background-color: #fff;
  min-height: 100vh;
  position: relative;
}

header {
  padding: 1.2em 0.6em;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.911);
  z-index: 4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

aside {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../../img/frontend_webdeveloper.jpg) no-repeat center/cover;
  background-blend-mode: multiply;
  background-color: #920000;
  z-index: 3;
  transform: translateY(-100%);
}
aside nav ul {
  list-style: none;
  padding: 0;
}
aside nav ul li {
  text-align: center;
  padding: 0em 0.6em;
  transition: all 0.4s ease-out;
  border-radius: 0.7em;
  margin: 0.5em 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
aside nav ul li:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-out, background-color 0.7s ease-in-out;
  transform: rotate(0deg) scale(0);
}
aside nav ul a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  transition: all 0.3s;
  display: block;
}
@media (min-width: 570px) {
  aside nav ul a {
    font-size: 2.3rem;
    line-height: 1.8;
  }
}
aside nav ul li:hover:before {
  background-color: red;
  transform: rotateY(360deg) scale(1);
}
aside nav ul li:hover a {
  color: #000;
  transform: rotateY(360deg);
  font-weight: 300;
  letter-spacing: 0.1em;
  font-size: 1.6rem;
  padding: 0.2em 0;
}

@keyframes menuOpen {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes menuClose {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
aside.closed {
  animation: menuClose 0.2s forwards ease-in-out;
}

aside.opened {
  animation: menuOpen 0.7s forwards ease-out;
}

main {
  padding: 4em 0.6em 0;
  overflow: hidden;
}
main h3 {
  text-align: right;
  margin-top: 3em;
  color: #8b8b8b;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.92rem;
  letter-spacing: 0.2em;
}
main hr {
  margin: 4em 0;
  border: solid 1px #cecece;
}

footer {
  padding: 0 1.2em;
}
footer ul {
  padding: 0;
  list-style: none;
}
footer ul li {
  color: #8b8b8b;
}
footer h2 {
  font-size: 1.3rem;
}
@media (min-width: 724px) {
  footer h2 {
    font-size: 1.63rem;
  }
}
footer p {
  color: #8b8b8b;
}
footer span, footer a {
  color: #e70808;
  text-decoration: none;
  font-weight: 500;
}
footer #insta {
  color: #000;
  margin-top: 2.5em;
}
@media (min-width: 724px) {
  footer .content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  footer .content ul {
    padding-left: 1.6em;
  }
}

.home-top {
  position: relative;
}
@media (min-width: 570px) {
  .home-top {
    margin-bottom: 10em;
  }
}
@media (min-width: 724px) {
  .home-top {
    height: 100vh;
    margin-bottom: 0em;
  }
}
.home-top .content {
  padding-top: 20.5em;
  z-index: 1;
}
@media (min-width: 570px) {
  .home-top .content {
    padding-top: 5em;
    width: 60%;
  }
}
@media (min-width: 724px) {
  .home-top .content {
    width: 80%;
    padding-top: 16.5em;
    padding-left: 1em;
  }
}
.home-top .content h1 {
  font-size: 1.8rem;
  margin: 0.3em 0;
  color: #e70808;
  letter-spacing: -1px;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.698);
  border-radius: 0.3em;
}
@media (min-width: 570px) {
  .home-top .content h1 {
    font-size: 2.2rem;
  }
}
@media (min-width: 724px) {
  .home-top .content h1 {
    font-size: 3.4rem;
    line-height: 1;
  }
}
.home-top .content span {
  color: #8b8b8b;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.698);
  border-radius: 0.4em;
}
.home-top .content span:nth-child(1) {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.25em;
  font-weight: 300;
}
@media (min-width: 724px) {
  .home-top .content span:nth-child(1) {
    font-size: 0.86rem;
  }
}
.home-top .content span:nth-child(3) {
  font-size: 1.2rem;
}
@media (min-width: 724px) {
  .home-top .content span:nth-child(3) {
    font-size: 1.4rem;
    display: block;
    width: 60%;
  }
}

.bg-img {
  position: absolute;
  z-index: -1;
  width: 100%;
}
.bg-img img {
  width: 290px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: -2;
}
@media (min-width: 570px) {
  .bg-img img {
    margin-right: 0;
  }
}
@media (min-width: 724px) {
  .bg-img img {
    width: 600px;
    height: 720px;
    margin-right: -2em;
  }
}

.content.about {
  display: flex;
  align-items: center;
  margin-top: 0.7em;
}
.content.about h2 {
  margin: 0;
  color: #2f2f2f;
  font-size: 3.5rem;
  transform: rotate(-90deg);
  border-bottom: solid 3px red;
  border-bottom-left-radius: 0.9em;
  border-left: solid 3px transparent;
}
.content.about div {
  min-width: 100px;
  min-height: 170px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content.about p {
  margin: 0;
  font-weight: 600;
  font-size: 1.1rem;
}
.content.about #div2 {
  min-height: 250px;
}

.hobbies .imgs-loader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.hobbies .imgs-loader img {
  width: 48.8%;
}
.hobbies .imgs-loader img:nth-child(3) {
  width: 100%;
}
.hobbies .content.about {
  flex-direction: row-reverse;
}
.hobbies .content.about #div2 {
  transform: rotate(180deg);
  min-width: 90px;
}

@keyframes hobbyIMG1 {
  0%, 100% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(10%, 5%);
  }
}
@keyframes hobbyIMG2 {
  0%, 100% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(30%, -10%);
  }
}
.imgs-loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media (min-width: 570px) {
  .imgs-loader {
    flex-direction: column;
  }
}
.imgs-loader img {
  width: 100%;
  min-width: 150px;
  height: 100%;
  z-index: -1;
  right: 0;
  margin: 0.2em;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}
@media (min-width: 724px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.logo {
  text-decoration: none;
  color: #e70808;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo span {
  text-align: center;
}
.logo span:nth-child(1) {
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: -1px;
}
.logo span:nth-child(2) {
  text-transform: uppercase;
  color: #000;
  font-size: 0.6rem;
  letter-spacing: 0.4em;
}

.menu-click {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-click span {
  text-transform: uppercase;
  font-size: 0.91rem;
  font-weight: 600;
}
.menu-click #menu {
  width: 22px;
  height: 18px;
  margin-left: 1em;
}
.menu-click #menu i {
  display: table;
  min-width: 22px;
  min-height: 3px;
  background-color: #000;
  line-height: 0;
  transform: rotate(0deg);
  transition: transform 0.4s ease-in-out, background-color 0.4s, opacity 0.3s ease-in-out 0.1s;
  transform-origin: left;
}
.menu-click #menu i:nth-child(2) {
  margin: 0.24em 0 0.27em;
}
.menu-click #menu.opened {
  width: 22px;
  height: 18px;
  margin-left: 1em;
}
.menu-click #menu.opened i:nth-child(2) {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.menu-click #menu.opened i:nth-child(1) {
  transform: rotate(40deg);
  background-color: red;
}
.menu-click #menu.opened i:nth-child(3) {
  transform: rotate(-40deg);
}

.proj {
  width: 100%;
  max-width: 298px;
  border: solid 2px black;
  border-radius: 0.8em;
  padding: 0.4em 0.4em 0.1em;
  position: relative;
  margin: 0 0 1em;
}
@media (min-width: 724px) {
  .proj {
    margin: 0 0.55em 1em;
  }
}
.proj h2 {
  font-size: 1.3rem;
  margin: 1em 0 0 0.5em;
  position: absolute;
  top: 0;
  color: #e70808;
}
.proj h2 span {
  color: #bebebe;
  font-weight: 300;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.proj img {
  width: 100%;
  height: 470px;
  border-radius: 0.8em;
}
.proj button {
  position: absolute;
  padding-top: 0.5em;
  right: 1.5em;
  bottom: 1.5em;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.431);
  backdrop-filter: blur(2px);
  border: solid 2px white;
}
.proj button svg {
  transform: rotate(90deg);
}

.projects {
  padding-top: 7em;
}
.projects #title-prj {
  letter-spacing: -0.06em;
  line-height: 0.8;
  font-size: 1.8rem;
  margin-bottom: 2em;
}
.projects #title-prj span {
  font-size: 1.1rem;
  color: #e70808;
}

.work {
  margin-bottom: 5em;
}
@media (min-width: 570px) {
  .work {
    margin-bottom: 6.7em;
  }
}
.work .imgs-loader img {
  clip-path: none;
}
@media (min-width: 570px) {
  .work .imgs-loader img {
    width: 70%;
  }
}
@media (min-width: 570px) {
  .work .imgs-loader img:nth-child(1) {
    align-self: flex-end;
    transform: translateY(1.5em);
  }
}
@media (min-width: 570px) {
  .work .imgs-loader img:nth-child(2) {
    align-self: flex-start;
    transform: translateY(-1.5em);
  }
}

.copyright {
  padding: 3em 0;
  text-align: center;
  font-weight: 300;
}
@media (min-width: 724px) {
  .copyright {
    text-align: left;
  }
}

.what-i-do {
  max-width: 470px;
  margin: 0 auto;
}
@media (min-width: 570px) {
  .what-i-do {
    max-width: 550px;
  }
}

/*# sourceMappingURL=style.css.map */
