aside {
    width: 100%;
    height: 100vh;
    position: fixed;
    @include flexy($dir: column, $align: center, $just: center);
    background: url(../../img/frontend_webdeveloper.jpg) no-repeat center/cover;
    background-blend-mode: multiply;
    background-color: rgb(146, 0, 0);
    z-index: 3;
    transform: translateY(-100%);
    & nav ul {
        list-style: none;
        padding: 0;
        li {
            text-align: center;
        }
        a {
            text-decoration: none;
            color: #fff;
            text-transform: capitalize;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.7;
            @include mq('sm') {
                font-size: 2.3rem;
                line-height: 1.8;
            }
        }
    }
}

@keyframes menuOpen {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes menuClose {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

aside.closed {
    animation: menuClose .2s forwards ease-in-out;
}

aside.opened {
    animation: menuOpen .7s forwards ease-out;
}