main {
    padding: 4em 0 0;
    overflow: hidden;
    & h3 {
        text-align: right;
        margin: 6em 0 1em 0;
        padding: 0 .4em 0 0;
        color: rgb(139, 139, 139);
        font-weight: 300;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: .2em;
        @include mq('lg') {
            text-align: left;
            font-size: 1.2rem;
        }
    }
    & hr {
        margin: 4em 0;
        border: solid 1px rgb(206, 206, 206);
    }
}