/*-------------------PRESENTATION----------------------*/

.presentation {
    background-image: linear-gradient(45deg, rgb(37, 6, 46) 0%, rgb(37, 6, 46) 28%, rgb(66, 27, 59) 28%, rgb(66, 27, 59) 31%, rgb(96, 48, 72) 31%, rgb(96, 48, 72) 59%, rgb(125, 69, 85) 59%, rgb(125, 69, 85) 66%, rgb(154, 90, 97) 66%, rgb(154, 90, 97) 68%, rgb(193, 52, 52) 68%, rgb(193, 52, 52) 94%, rgb(213, 132, 123) 94%, rgb(213, 132, 123) 100%), linear-gradient(112.5deg, rgb(37, 6, 46) 0%, rgb(37, 6, 46) 28%, rgb(66, 27, 59) 28%, rgb(66, 27, 59) 31%, rgb(96, 48, 72) 31%, rgb(96, 48, 72) 59%, rgb(125, 69, 85) 59%, rgb(125, 69, 85) 66%, rgb(154, 90, 97) 66%, rgb(154, 90, 97) 68%, rgb(193, 52, 52) 68%, rgb(193, 52, 52) 94%, rgb(213, 132, 123) 94%, rgb(213, 132, 123) 100%), linear-gradient(90deg, rgb(37, 6, 46) 0%, rgb(37, 6, 46) 28%, rgb(66, 27, 59) 28%, rgb(66, 27, 59) 31%, rgb(96, 48, 72) 31%, rgb(96, 48, 72) 59%, rgb(125, 69, 85) 59%, rgb(125, 69, 85) 66%, rgb(154, 90, 97) 66%, rgb(154, 90, 97) 68%, rgb(193, 52, 52) 68%, rgb(193, 52, 52) 94%, rgb(213, 132, 123) 94%, rgb(213, 132, 123) 100%), linear-gradient(135deg, rgb(37, 6, 46) 0%, rgb(37, 6, 46) 28%, rgb(66, 27, 59) 28%, rgb(66, 27, 59) 31%, rgb(96, 48, 72) 31%, rgb(96, 48, 72) 59%, rgb(125, 69, 85) 59%, rgb(125, 69, 85) 66%, rgb(154, 90, 97) 66%, rgb(154, 90, 97) 68%, rgb(193, 52, 52) 68%, rgb(193, 52, 52) 94%, rgb(213, 132, 123) 94%, rgb(213, 132, 123) 100%), linear-gradient(90deg, rgb(100, 205, 26), rgb(46, 36, 113));
    background-blend-mode: overlay, overlay, overlay, overlay, normal;
    padding: 70px 1.20em;
    color: white;
    overflow: hidden;
    @include flexy($align: center);
    @include mq('med') {
        height: 44vh;
    }
    & .aside-presentation {
        width: 100%;
        opacity: 0;
        transition: transform 1s;
        transform: translateX(-100%);
        transition-delay: .2s;
        span {
            color: rgb(184, 184, 184);
            @include mq('med') {
                font-size: 1.1rem;
            }
        }
        h1 {
            color: rgb(200, 0, 0);
            @include mq('med') {
                font-size: 1.4rem;
            }
        }
    }
    & .aside-presentation.appear {
        opacity: 1;
        transform: translateX(0%);
    }
}

//--------------------ABOUT ME-----------------------------
.about-me {
    padding: 2em 0;
    overflow: hidden;
    & .abt-me-intro {
        @include flexy($dir: row, $just: space-between);
        position: relative;
        padding: 2em 1em 1em;
        min-height: 331px;
        margin-bottom: 2em;
        img {
            position: absolute;
            bottom: 2em;
            max-width: 320px;
            height: 200px;
            right: 0;
            @include mq('sm') {
                max-width: 350px;
                height: 245px;
            }
        }
        .shape,
        .abt-me-content {
            width: 50%;
        }
        .shape {
            background-color: var(--blob);
            box-shadow: var(--shades);
            animation: transform 15s ease-in-out infinite both alternate;
            max-width: 200px;
            max-height: 150px;
            margin-top: 2em;
            @include mq('sm') {
                max-width: 230px;
                max-height: 170px;
            }
        }
        .abt-me-content {
            p {
                padding: 1em .3em 1em .7em;
                @include mq('med') {
                    font-size: 1.04rem;
                    max-width: 400px;
                }
            }
            h2 {
                @include mq('med') {
                    font-size: 1.7rem;
                }
            }
        }
    }
}

//------Shape root
:root {
    --background: red;
    --blob: red;
    --shades: inset 10px 0 40px rgb(255, 70, 70), inset -10px 0 20px rgb(0, 0, 0), inset -40px 10px 100px #b60202;
}

//------Background Styling
.backgroundStyling {
    background-color: rgba(255, 255, 255, 0.150);
    padding: .2em;
    border-radius: .3em;
    display: table;
    position: relative;
    z-index: 1;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    border-top: solid 1px rgba(255, 255, 255, 0.3);
    border-left: solid 1px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

//------------------------HOBBIES---------------------------
.hobby {
    @include flexy($dir: column);
    @include mq('med') {
        @include flexy($dir: row, $just: center, $align: center, $wrap: wrap);
    }
    & .hobbies {
        @include mq('med') {
            max-width: 320px;
            margin: .6em;
            transform: translateX(0%);
            opacity: 0;
            transition: opacity .8s;
            transition-delay: .3s;
        }
        padding: 1.45em 1.24em;
        position: relative;
        min-height: 250px;
        opacity: 0;
        transition: transform 1s;
        transform: translateX(-100%);
        transition-delay: .3s;
        overflow: hidden;
        p {
            text-shadow: 0 0 2px rgb(68, 68, 68);
            @include mq('med') {
                max-width: 300px;
            }
        }
        .info-hobby {
            width: 50%;
            max-width: 470px;
            width: 370px;
        }
    }
    & .hobbies.appear {
        opacity: 1;
        transform: translateX(0px);
        @include mq('med') {
            opacity: 1;
            animation: scaleAnim 1s linear;
        }
    }
    & .hobbyToImage {
        background-color: rgba(0, 0, 0, 0.144);
        border: none;
        backdrop-filter: blur(3px);
        position: absolute;
        width: 30px;
        height: 100%;
        right: 0;
        bottom: 0;
        color: white;
        @include flexy($align: center, $just: center);
        transition: background-color .4s;
        z-index: 4;
        @include mq('med') {
            width: 100%;
            height: 30px;
        }
        .fas {
            @include mq('med') {
                transform: rotate(-90deg);
            }
        }
    }
    & .hobbyToImage:hover {
        background-color: rgba(192, 192, 192, 0.397);
    }
    & .first-Hobby {
        background-image: linear-gradient(135deg, transparent 0%, transparent 15%, rgba(169, 169, 169, 0.5) 15%, rgba(169, 169, 169, 0.5) 33%, transparent 33%, transparent 79%, rgba(49, 49, 49, 0.5) 79%, rgba(49, 49, 49, 0.5) 100%), linear-gradient(45deg, transparent 0%, transparent 52%, rgb(158, 0, 0) 52%, rgb(158, 0, 0) 77%, rgb(255, 5, 9) 77%, rgb(255, 5, 9) 87%, transparent 87%, transparent 100%), linear-gradient(90deg, rgb(6, 6, 6), rgb(6, 6, 6));
    }
    & .second-Hobby {
        background-image: linear-gradient(225deg, transparent 0%, transparent 15%, rgba(184, 184, 184, 0.5) 15%, rgba(184, 184, 184, 0.5) 33%, transparent 33%, transparent 79%, rgba(179, 179, 179, 0) 79%, rgba(179, 179, 179, 0) 100%), linear-gradient(135deg, transparent 0%, transparent 52%, rgb(177, 0, 0) 52%, rgb(177, 0, 0) 77%, rgb(255, 0, 8) 77%, rgb(255, 0, 8) 87%, transparent 87%, transparent 100%), linear-gradient(180deg, rgb(0, 0, 0), rgb(0, 0, 0));
    }
    & .third-Hobby {
        background-image: linear-gradient(135deg, transparent 0%, transparent 15%, rgba(58, 58, 58, 0) 15%, rgba(58, 58, 58, 0) 33%, transparent 33%, transparent 79%, rgba(75, 75, 75, 0.5) 79%, rgba(75, 75, 75, 0.5) 100%), linear-gradient(45deg, transparent 0%, transparent 52%, rgb(177, 0, 0) 52%, rgb(177, 0, 0) 77%, rgb(255, 0, 8) 77%, rgb(255, 0, 8) 87%, transparent 87%, transparent 100%), linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
    }
    & .hobby-image {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(100%);
        transition: transform .5s;
        z-index: 3;
        @include flexy($align: center, $just: center);
        @include mq('med') {
            transform: translateY(100%);
        }
        backdrop-filter: blur(2px);
        img {
            width: 270px;
            height: 190px;
            border-radius: .4em;
            @include mq('sm') {
                width: 340px;
                height: 220px;
            }
            @include mq('med') {
                width: 260px;
                height: 190px;
                margin-right: .9em;
            }
        }
    }
    & .hobby-image.move {
        transform: translateX(0%);
        @include mq('med') {
            transform: translateY(0%);
        }
    }
}

//-------------------------SKILLS--------------------------
.skills {
    padding: 2em 1em 3em;
    @include mq('med') {
        padding: 5em 1.2em 2em;
    }
    & #titleSkills {
        display: table;
        color: rgb(233, 233, 233);
        position: relative;
        @include mq('med') {
            font-size: 1.9rem;
        }
    }
    & #titleSkills:before {
        position: absolute;
        content: '';
        width: calc(100% + 25px);
        height: 2px;
        background-color: red;
        bottom: -2px;
        left: 0;
        @include mq('med') {
            height: 3px;
        }
    }
    & #titleSkills.appear {
        animation: skillsTitleBar 1.3s .3s;
    }
    & h2:hover:before {
        box-shadow: 0px 0px 3px red, 0px 0px 6px red;
    }
    & h2:hover {
        text-shadow: 0px 0px 3px rgb(233, 233, 233);
    }
    & .graphic-skills {
        padding: 0;
        list-style: none;
        @include flexy($dir: column, $just: center, $align: center);
        @include mq('med') {
            @include flexy($dir: row);
        }
        color: rgb(255, 255, 255);
        font-weight: 600;
        li {
            margin: 1.32em 0;
            @include flexy($dir: column-reverse, $just: center, $align: center);
            @include mq('med') {
                margin: 2em .6em;
            }
            border: solid 2px rgba(187, 187, 187, 0.281);
            border-radius: 50%;
            width: 200px;
            height: 200px;
            position: relative;
            overflow: hidden;
            transition: transform .6s;
        }
        li:hover {
            transform: rotate(360deg) scale(1.1);
            @include mq('med') {
                margin: 1em .6em;
            }
        }
        li:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 76%;
            background-image: radial-gradient(circle at 32% 72%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 8%, transparent 8%, transparent 92%), radial-gradient(circle at 61% 40%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 8%, transparent 8%, transparent 92%), radial-gradient(circle at 64% 48%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, transparent 6%, transparent 94%), radial-gradient(circle at 37% 25%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, transparent 6%, transparent 94%), radial-gradient(circle at 43% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, transparent 6%, transparent 94%), radial-gradient(circle at 80% 92%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, transparent 6%, transparent 94%), radial-gradient(circle at 9% 7%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, transparent 6%, transparent 94%), radial-gradient(circle at 12% 82%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 4%, transparent 4%, transparent 96%), radial-gradient(circle at 71% 65%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 4%, transparent 4%, transparent 96%), radial-gradient(circle at 7% 10%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 4%, transparent 4%, transparent 96%), radial-gradient(circle at 50% 25%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 4%, transparent 4%, transparent 96%), linear-gradient(180deg, rgb(231, 0, 0), rgb(253, 75, 4));
            left: 0;
            bottom: 0;
            z-index: -2;
        }
        li:nth-child(2):before {
            height: 82%;
        }
        li:nth-child(3):before {
            height: 88%;
        }
        .bubble {
            display: table;
            min-width: 20px;
            min-height: 20px;
            background: rgba(255, 255, 255, 0.514);
            position: absolute;
            border-radius: 50%;
            z-index: -1;
        }
        .b1 {
            left: 4px;
            bottom: 0px;
            background: rgba(255, 255, 255, 0.246);
            width: 30px;
            height: 30px;
            animation: bubbles 3s linear infinite 1s;
        }
        .b2 {
            left: 100px;
            bottom: 0px;
            background: rgba(255, 255, 255, 0.479);
            width: 37px;
            height: 37px;
            animation: bubbles 3s linear infinite .1s;
        }
        .b3 {
            left: 55px;
            bottom: 0px;
            background: rgba(255, 255, 255, 0.335);
            width: 21px;
            height: 21px;
            animation: bubbles 3s linear infinite .2s;
        }
        .b4 {
            left: 67px;
            bottom: 0px;
            background: rgba(255, 255, 255, 0.144);
            width: 32px;
            height: 32px;
            animation: bubbles 3s linear infinite 1s;
        }
        .b5 {
            left: 140px;
            bottom: 0px;
            background: rgba(255, 255, 255, 0.212);
            width: 23px;
            height: 23px;
            animation: bubbles 3s linear infinite .5s;
        }
        .b6 {
            left: 168px;
            bottom: 0px;
            background: rgba(255, 255, 255, 0.513);
            width: 23px;
            height: 23px;
            animation: bubbles 3s linear infinite;
        }
    }
    & .animation-skills {
        display: none;
    }
}

//--------------------------------PROJECTS--------------------------------
.projects {
    padding: 2em 1em 3em;
    @include mq('med') {
        padding: 4em 1em 2em;
    }
    position: relative;
    & h2 {
        color: rgb(233, 233, 233);
        @include mq('med') {
            font-size: 1.9rem;
        }
    }
    & .access-projects {
        @include flexy($dir: column, $align: center, $just: center);
        @include mq('med') {
            @include gridy($col: repeat(2, 200px), $rows: auto, $gap: 2em);
            margin-top: 2em;
        }
        .pj {
            width: 200px;
            height: 200px;
            @include flexy($align: center, $just: center);
            margin: 1.3em .3em;
            border-radius: 15%;
            overflow: hidden;
        }
        .backgroundStyling {
            width: 190px;
            text-align: center;
            text-decoration: none;
            color: white;
            text-shadow: 1px 1px 2px rgb(65, 65, 65);
            position: relative;
            transition: background-color .6s;
        }
        .fa-eye {
            color: rgb(231, 0, 0);
            position: absolute;
            left: 50%;
            opacity: 0;
            transition: .5s .4s;
            transform: scale(0) rotate(0deg);
        }
        .backgroundStyling:hover .fa-eye {
            left: 85%;
            transform: scale(1) rotate(720deg);
            opacity: 1;
        }
        .backgroundStyling:hover {
            background-color: rgba(93, 93, 93, 0.15);
        }
        .pj1 {
            background: url(../../img/food.png) no-repeat center/cover;
        }
        .pj2 {
            background: url(../../img/tools.png) no-repeat center/cover;
        }
        .pj3 {
            background: url(../../img/lottery.png) no-repeat center/cover;
        }
    }
    & .workIcon {
        display: table;
        font-size: 6rem;
        position: absolute;
        top: 40px;
        right: 1.2rem;
        color: rgba(104, 104, 104, 0.418);
        @include mq('med') {
            top: .71em;
            right: 1.5rem;
            font-size: 9rem;
        }
    }
}