.content.about {
    width: 70%;
    padding-left: .6em;
    @include flexy($dir: column, $align: flex-start);
    margin-top: .7em;
    @include mq('lg') {
        width: 50%;
    }
    & h2 {
        margin: 0 0 .1em 0;
        padding: 0 .1em;
        z-index: 1;
        color: rgb(47, 47, 47);
        font-size: 3.5rem;
        backdrop-filter: blur(2px);
        background-color: rgba(255, 255, 255, 0.356);
        border-radius: .3em;
        @include mq('med') {
            font-size: 4rem;
        }
        @include mq('lg') {
            font-size: 5rem;
        }
    }
    & p {
        margin: 0;
        padding: .2em .3em;
        z-index: 1;
        font-weight: 600;
        font-size: 1.23rem;
        backdrop-filter: blur(2px);
        background-color: rgba(255, 255, 255, 0.356);
        border-radius: .3em;
        @include mq('med') {
            font-size: 1.3rem;
        }
    }
}