.hobbies {
    @include mq('lg') {
        @include flexy($dir: row, $align: center);
    }
    & .imgs-loader {
        @include gridy($col: 1fr 1fr, $rows: auto, $gap: 1px, $area: "drum race" "mbike mbike");
        img {
            width: 100%;
            transform: scale(0);
        }
        @include mq('lg') {
            width: 40%;
        }
    }
    & .content.about {
        flex-direction: row-reverse;
        #div2 {
            transform: rotate(180deg);
            min-width: 90px;
        }
        @include mq('lg') {
            width: 60%;
            margin-left: 1em;
        }
    }
    & #drum {
        grid-area: drum;
        animation: opacityAnim1 1.2s forwards;
    }
    & #race {
        grid-area: race;
        animation: opacityAnim1 1.2s forwards .4s;
    }
    & #mbike {
        grid-area: mbike;
        animation: opacityAnim2 1.2s forwards .8s;
    }
    & #drum.change1 {
        grid-area: race;
        animation: opacityAnim2 1.2s forwards;
    }
    & #race.change1 {
        grid-area: mbike;
        animation: opacityAnim2 1.2s forwards .4s;
    }
    & #mbike.change1 {
        grid-area: drum;
        animation: opacityAnim2 1.2s forwards .8s;
    }
    & #drum.change2 {
        grid-area: mbike;
        animation: opacityAnim3 1.2s forwards;
    }
    & #race.change2 {
        grid-area: drum;
        animation: opacityAnim3 1.2s forwards .4s;
    }
    & #mbike.change2 {
        grid-area: race;
        animation: opacityAnim3 1.2s forwards .8s;
    }
}

@keyframes hobbyIMG1 {
    0%,
    100% {
        transform: translate(0%, 0%);
    }
    50% {
        transform: translate(10%, 5%);
    }
}

@keyframes hobbyIMG2 {
    0%,
    100% {
        transform: translate(0%, 0%);
    }
    50% {
        transform: translate(30%, -10%);
    }
}

@keyframes opacityAnim1 {
    to {
        transform: scale(1);
    }
    from {
        transform: scale(0);
    }
}

@keyframes opacityAnim2 {
    to {
        transform: scale(1);
    }
    from {
        transform: scale(0);
    }
}

@keyframes opacityAnim3 {
    to {
        transform: scale(1);
    }
    from {
        transform: scale(0);
    }
}