.hobbies {
    & .imgs-loader {
        @include gridy($col: 1fr 1fr, $rows: auto, $gap: 1px, $area: "drum race" "mbike mbike");
        img {
            width: 100%;
        }
    }
    & .content.about {
        flex-direction: row-reverse;
        #div2 {
            transform: rotate(180deg);
            min-width: 90px;
        }
    }
    & #drum {
        grid-area: drum;
        animation: opacityAnim 1.2s linear;
    }
    & #race {
        grid-area: race;
        animation: opacityAnim 1.2s linear .2s;
    }
    & #mbike {
        grid-area: mbike;
        animation: opacityAnim 1.2s linear .4s;
    }
    & #drum.change1 {
        grid-area: race;
        animation: opacityAnim 1.2s linear;
    }
    & #race.change1 {
        grid-area: mbike;
        animation: opacityAnim 1.2s linear .2s;
    }
    & #mbike.change1 {
        grid-area: drum;
        animation: opacityAnim 1.2s linear .4s;
    }
    & #drum.change2 {
        grid-area: mbike;
        animation: opacityAnim 1.2s linear;
    }
    & #race.change2 {
        grid-area: drum;
        animation: opacityAnim 1.2s linear .2s;
    }
    & #mbike.change2 {
        grid-area: race;
        animation: opacityAnim 1.2s linear .4s;
    }
}

@keyframes hobbyIMG1 {
    0%,
    100% {
        transform: translate(0%, 0%);
    }
    50% {
        transform: translate(10%, 5%);
    }
}

@keyframes hobbyIMG2 {
    0%,
    100% {
        transform: translate(0%, 0%);
    }
    50% {
        transform: translate(30%, -10%);
    }
}

@keyframes opacityAnim {
    to {
        opacity: 1;
    }
    from {
        opacity: 0;
    }
}