.imgs-loader {
    overflow: hidden;
    @include mq('lg') {
        width: 50%;
    }
    & img {
        width: 90%;
        margin: 0;
        @include mq('sm') {
            width: 70%;
        }
    }
    & img:nth-child(1) {
        float: left;
        transform: translateY(1em);
        @include mq('sm') {
            transform: translateY(1.5em);
        }
        @include mq('lg') {}
    }
    & img:nth-child(2) {
        float: right;
        transform: translateY(-1em);
        @include mq('sm') {
            transform: translateY(-1.5em);
        }
        @include mq('lg') {
            transform: translate(1.5em, -1.5em);
        }
    }
}