.imgs-loader {
    overflow: hidden;
    position: absolute;
    @include mq('lg') {
        width: 50%;
    }
    & img {
        width: 90%;
        margin: 0;
        @include mq('sm') {
            width: 70%;
        }
        clip-path: none;
    }
    & img:nth-child(1) {
        float: left;
        transform: translateY(1.5em);
        @include mq('sm') {
            transform: translateY(1.5em);
        }
        @include mq('lg') {}
    }
    & img:nth-child(2) {
        float: right;
        @include mq('sm') {
            transform: translateY(-1.5em);
        }
        @include mq('lg') {
            transform: translate(1.5em, -1.5em);
        }
    }
}