.list {
    @include flexy($dir: column, $align: center, $just: center);
    padding: 0 1em;
    @include mq('med') {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 .3em;
    }
    @include mq('lg') {
        justify-content: flex-start;
    }
}