.work {
    margin-bottom: 10em;
    padding: 2em .4em;
    @include flexy($align: flex-start, $dir: column);
    @include mq('sm') {
        margin-bottom: 6.7em;
    }
    @include mq('lg') {
        @include flexy($dir: row-reverse, $align: center);
        margin-right: auto;
    }
}