.work {
    margin-bottom: 5em;
    position: relative;
    @include mq('sm') {
        margin-bottom: 6.7em;
    }
    @include mq('lg') {
        @include flexy($dir: row-reverse, $align: center);
        margin-right: auto;
    }
}